* {
    background-color: #FA9F37;
    }
    
    h1 {
    font-size: 2.5rem;
    color: #000000;
    font-weight: 600; padding: 30px;
    }
    
    h2 {
    font-size: 2rem;
    color: #845007; padding: 20px;
    }
    
    h3 {
    font-size: 1.5rem;
    color: #3a4660; padding: 20px;

    }
    
    a {
    background-color: #3a4660;
    color: #c9af98;
    text-decoration: none;
    padding: 20px;
    }    

    button{

background-color: #FA3205;


  }


h6 { padding: 30px;

text-align:left;



}

ul,ol{padding-left: 20px;}